<div class="container mt-4">
    <div style="margin-top: 60px;">
       <div class="row">
          <div class="col">
             <h2>Mis usuarios</h2>
          </div>
          <div class="col-auto">
             <button class="btn btn-primary" (click)="crearUsuario()"><i class="fas fa-plus"></i>Agregar usuario</button>
          </div>
       </div>
       <br><br>
       <table class="table table-striped">
          <thead>
             <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Correo Electrónico</th>
             </tr>
          </thead>
          <tbody>
             <tr>
             </tr>
             <tr>
             </tr>
             <tr>
             </tr>
          </tbody>
       </table>
    </div>
 </div>