<div class="container mt-4">
    <div style="margin-top: 60px;">
       <div class="row">
          <div class="col">
             <h2>Pluma</h2>
          </div>
          <div class="col-auto">
             <button class="btn btn-primary" (click)="crearPluma()"><i class="fas fa-plus"></i>Agregar pluma</button>
          </div>
       </div>
       <br><br>


       <form [formGroup]="formulariOrg">
       <p>Selecciona la organización:
        <select  id="organizacion" formControlName="organizacion" (change)="verPlumas()">
           @for (org of organizaciones; track org){
          <option [value]="org.id_organizacion">{{ org.nombre_organizacion }}</option>
           }
        </select>
      
    </p>
  </form>
    <br>
       <table class="table table-striped">
         <thead>
           <tr>
             <th>Codigo</th>
             <th>Organizacion</th>
             <th>Editar</th>
           </tr>
         </thead>
         <tbody>
         @for (pluma of currentPagePluma; track pluma ){ 
           <tr >
             <td>{{ pluma.codigo_pluma }}</td>
             <td>{{ pluma.nombre_organizacion }}</td>
             <td>
               <i class="fas fa-pencil-alt" (click)="editar(pluma)"></i>
             </td>
           </tr>
         }
         </tbody>
       </table>
       <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="refreshPluma()">
        </ngb-pagination>
      </div>
    </div>
 </div>