.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.left-buttons,
.right-buttons {
  display: flex;
  align-items: center;
}

.right-buttons {
  margin-left: auto; /* Empuja los botones hacia la derecha */
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff5d; /* Puedes ajustar el color de fondo según tu diseño */
  z-index: 1000; /* Ajusta el índice z para asegurarte de que esté sobre otros elementos */
  border-bottom: 0px solid #fd9727; /* Otras propiedades de estilo según sea necesario */
}

.Offline{
  color: red;
  size: 50px;
}

.Online{
  color: green;
  size: 50px;
}