<div>
  <div class="contenedor" mat-dialog-title>
    <label style="color: white">Organización</label>
    <i class="fas fa-times" (click)="cerrarDialogo()"></i>
  </div>
  <div mat-dialog-content>
    <br />
    <form [formGroup]="formularioContacto" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-md-6">
          <p>
            Nombre de la organizacion:
            <input type="text" formControlName="nombre" required />
            @if(this.formularioContacto.get('nombre')?.errors?.['required']) {
            <span>(Nombre Organización requerido)</span>
            }
          </p>
        </div>
        <div class="col-md-6">
          <p>
            Selecciona la organización:
            <select id="organizacion" formControlName="organizacion">
              @for (org of arrayTipoOrg; track org){
              <option [value]="org.VALUE">{{ org.LABEL }}</option>
              }
            </select>
          </p>
        </div>
      </div>
      <div class="but">
        <button type="submit">Confirmar</button>
      </div>
    </form>
  </div>
</div>
