<div class="container mt-4">
    <div style="margin-top: 60px;">
       <div class="row">
          <div class="col">
             <h2>Codigo QR</h2>
          </div>
          <div class="col-auto">
             <button class="btn btn-primary" (click)="crearPluma()"><i class="fas fa-plus"></i>Agregar un codigo QR</button>
          </div>
       </div>
       <br><br>


       <form [formGroup]="formulariOrg">
       <p>Selecciona la organización:
        <select  id="organizacion" formControlName="organizacion" (change)="verCodigo()">
           @for (org of organizaciones; track org){
          <option [value]="org.id_organizacion">{{ org.nombre_organizacion }}</option>
           }
        </select>
      
    </p>
  </form>
    <br>
       <table class="table table-striped">
         <thead>
           <tr>
             <th>Codigo</th>
             <th>Organizacion</th>
             <th>Editar</th>
           </tr>
         </thead>
         <tbody>
         @for (codigo of codigoOr; track codigo){ 
           <tr >
             <td>{{ codigo.codigo }}</td>
             <td>{{ codigo.identificadorQR }}</td>
             <td>
               <i class="fas fa-pencil-alt" (click)="editar(codigo)"></i>
             </td>
           </tr>
         }
         </tbody>
       </table>
    </div>
 </div>