<div>
    <div class="contenedor" mat-dialog-title>
       <label style="color: white;">Editar usuario</label>
       <i class="fas fa-times" (click)="cerrarDialogo()"></i>
    </div>
    <div mat-dialog-content>
       <br>
       <form [formGroup]="form" (ngSubmit)="actualizar()">
       <div class="row">
          <div class="col-md-6">
             <p>Nombre completo:
                <input type="text" formControlName="nombre" required>
                @if(this.form.get('nombre')?.errors?.['required']) {
                <span>(Nombre requerido)</span>
                }
             </p>
          </div>
          <div class="col-md-6">
             <p>Celular:
                <input type="text" formControlName="celular">
                @if(this.form.get('celular')?.errors?.['required']) {
                <span>(Celular requerido)</span>
                }
                @if(this.form.get('celular')?.errors?.['minlength']) {
                <span>(Mínimo 7 caracteres)</span>
                }
                @if(this.form.get('celular')?.errors?.['maxlength']) {
                  <span>(Maximo 10 caracteres)</span>
                  }
             </p>
          </div>
          <div class="col-md-6">
             <p>Tipo de usuario:
                  <select  id="tipoUsuario" formControlName="tipoUsuario">
                     @for (usuario of tipoUsuario; track usuario){
                    <option [value]="usuario.id_tipo_user">{{ usuario.nombre_tipo_user }}</option>
                     }
                  </select>
                @if(this.form.get('tipoUsuario')?.errors?.['required']) {
                <span>(Tipo de usuario requerido)</span>
                }
             </p>
          </div>
          <div class="col-md-6">
             <p>Codigo qr:
                  <select  id="codigoQR" formControlName="codigoQR">
                     @for (codigo of qr; track codigo){
                    <option [value]="codigo.id_code_qr">{{ codigo.identificadorQR }}</option>
                     }
                  </select>
                @if(this.form.get('codigoQR')?.errors?.['required']) {
                <span>(Codigo requerido)</span>
                }
             </p>
          </div>
       </div>
       <div class="row">
         <div class="col-md-6">
               <label for="fecha">Fecha inicio:</label>
               <input type="date" class="form-control" id="fecha" formControlName="fechaInicio" (change)="onFechaChangeInicio($event)">
               @if(this.form.get('fechaInicio')?.errors?.['required']) {
                  <span>(Fecha inicio requerida)</span>
                  }
         </div>
         <div class="col-md-6">
            <label for="fecha">Fecha fin:</label>
            <input type="date" class="form-control" id="fecha" formControlName="fechaFin" (change)="onFechaChangeFin($event)">
            @if(this.form.get('fechaFin')?.errors?.['required']) {
               <span>(Fecha fin requerida)</span>
               }
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="hora">Hora inicio:</label>
               <input type="time" class="form-control" id="hora" formControlName="horaInicio" (change)="onHoraChangeInicio($event)">
               @if(this.form.get('horaInicio')?.errors?.['required']) {
                  <span>(Hora inicio requerida)</span>
                  }
             </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="hora">Hora fin:</label>
               <input type="time" class="form-control" id="hora" formControlName="horaFin" (change)="onHoraChangeFin($event)">
               @if(this.form.get('horaFin')?.errors?.['required']) {
                  <span>(Hora fin requerida)</span>
                  }
             </div>
         </div>
       </div>
       <div class="but">
          <button type="submit">Confirmar</button>
       </div>
       </form>
    </div>
 </div>