<div>
    <div class="contenedor" mat-dialog-title>
       <label style="color: white;">Usuarios</label>
       <i class="fas fa-times" (click)="cerrarDialogo()"></i>
    </div>
    <div mat-dialog-content>
       <br>
       <form [formGroup]="formularioPluma" (ngSubmit)="actualizar()">
       <div class="row">
          <div class="col-md-6">
             <p>Codigo de la pluma:
                <input type="text" formControlName="codigo" required>
                @if(this.formularioPluma.get('codigo')?.errors?.['required']) {
                <span>(Codigo requerido)</span>
                }
             </p>
          </div>
          <div class="col-md-6">
             <p>Organización:
                  <select  id="organizacion" formControlName="organizacion">
                     @for (org of organizaciones; track org){
                    <option [value]="org.id_organizacion">{{ org.nombre_organizacion }}</option>
                     }
                  </select>
                @if(this.formularioPluma.get('organizacion')?.errors?.['required']) {
                <span>(Organización requerida)</span>
                }
             </p>
          </div>
       </div>

       <div class="but">
          <button type="submit">Confirmar</button>
       </div>
       </form>
    </div>
 </div>